{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


    <h1 class="govuk-heading-l">
      Jack Barnes's cases
    </h1>

  
<!--Dashboard table-->


        <div class="govuk-grid-column-three-quarters">

    <table class="govuk-table" data-module="moj-sortable-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
    
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Name</th>
    
          <th scope="col" class="govuk-table__header" aria-sort="none">NINO</th>
    
          <th scope="col" class="govuk-table__header" aria-sort="none">Date</th>

          <th scope="col" class="govuk-table__header" aria-sort="none">Case type</th>

          <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
    
          <th scope="col" class="govuk-table__header" aria-sort="none">Next action due</th>
    
        </tr>
      </thead>
    
      <tbody class="govuk-table__body">
    
        <tr class="govuk-table__row">
    
          <td class="govuk-table__cell"><a href="claimant-detail-assigned" aria-describedby="claimant-detail-assigned">Fran Cliffe</a></td>
    
          <td class="govuk-table__cell" >RN 22 10 00 E</td>
    
          <td class="govuk-table__cell">01/02/2023</td>
    
          <td class="govuk-table__cell">New claim</td>

          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
            In review
          </strong></td>

          <td class="govuk-table__cell">Outstanding</td>
    
        </tr>

    
        

    <button type="submit" class="govuk-button">
     Get new case
  </button>
    
    
  </div>
</div>
{% endblock %}
