{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">
  Assigned cases
</h1>
<form action="first-case" method="post">
<p class="govuk-body">Assign a case to yourself by following the link to review and complete any associated tasks.</p>

<button type="submit" class="govuk-button">
     Get new case
  </button>
    
    </form>
  </div>
</div>
{% endblock %}
